/* ************************************************************************************************
											Selector UNIVERSAL
************************************************************************************************ */

*{
	margin: 0px;
	padding: 0px;

}

/* ************************************************************************************************
											Selectores por TIPO
************************************************************************************************ */

h3{
	margin-left: 50px;
}


/***********************************************************************************************
									   		Selectores por CLASE 
***********************************************************************************************/

/* Cesta */
.empty{
	margin: 0px 0px 0px 20px;
}

/* ************************************************************************************************
											Selectores por ID
************************************************************************************************ */
/* Barra lateral ********************/
/*Sub-barra lateral hombre+mujer*/
#sidebar{

	width: 20%;
	float: left;
}

/* Div central ***************************/
#centro{ display: inline-block; width: 50%; margin-left: 75px; margin-top: 50px; }

#descrip{ margin-top: 15px; }

/* Div dcha ******************************/
#rightBar{ width: 16%; float: right; }
/* Cesta */
#cart .empty{

	font-style: italic;
	color: #a0a3ab;
	font-size: 14px;
	letter-spacing: 1px;
}


/* ************************************************************************************************
											RESPONSIVE
************************************************************************************************ */