<!-- Encabezado de toda la página -->
<header id="header">
	<!-- Imagen corporativa -->
	<a id="logo" href="../../index.php"><img  id="imgLogo" alt="ropaparati"></a>
	<!-- Items logueo -->              
    <?php
        // Se inicia sesión o reanuda la sesión
        session_start();
        // Si la variable de sesión id_user no tiene valor y es nulo
        if(!(isset($_SESSION["id_user"]) && $_SESSION["user"]!=NULL)){
            // Se incluye el archivo noLog que contiene los botones de alta e inicio de sesión
            include("../include/noLog.html");
        }
        else{ // Si la variable de sesión id_user tiene el valor distinto a nulo

            // Link para ir al perfil de usuario
            echo "<a href='../view/profile.php' id='linkUsu' class='link'>Hola, <b>" . $_SESSION["user"]."</b></a>";
            //Boton salir
            include("../include/log.html");
        }
    ?>
</header> <!-- Cierre del encabezado -->